.searchResults {
    width:100%;
}

.searchResults h2 {
    margin: 15px;
    font-size: 25px;
    padding-top:16px;
    padding-bottom: 4px;
    color: darkblue;
}

.Tracklist {
    position:fixed;
    top: 300px;
}

.tracklist {
    height: 380px;
    overflow-y: scroll;
    padding-bottom: 10px;
    border-top: 2px solid indigo; 
    border-bottom: 2px solid indigo; 
}