.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    width: 50%;
    height: 20px;
    margin: 20px;
}

.submitButton {
    background-color: rgb(20, 17, 221);
    color: #fff;
    border: 2px solid rgb(20, 17, 221);
    border-radius: 10px;
    font-size: 18px;
}
  
.submitButton:hover {
    background-color: #a5ccff;
    color: rgb(20, 17, 221);
    transition: background-color .15s, font-size .15s, color .15s;
    font-size: 18px;
}
  
.submitButton:active {
    border-color: #fff;
}